*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 20px;
}

.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 30px;
    -webkit-box-shadow: 10px 8px 35px 4px rgba(83,120,130,0.67);
-moz-box-shadow: 10px 8px 35px 4px rgba(83,120,130,0.67);
box-shadow: 10px 8px 35px 4px rgba(83,120,130,0.67);
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
  }

.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 600;
    background: rgb(54, 240, 54);
    color: white;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

.btn1:hover{
    background:rgb(37, 195, 37);
}